/* Default styles for larger screens */
header {
    position: sticky;
    top: 0;
    background-color: rgb(9, 104, 107);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header nav h2 {
    color: #111;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

header nav img {
    cursor: pointer
}

header hr {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    background: rgba(17, 17, 17, 0.15);
    height: 1px;
}

/* Media query for smaller screens, like tablets */
@media screen and (max-width: 768px) {
    header nav {
        width: 90%;
    }
}

/* Media query for extra-small screens, like mobile devices */
@media screen and (max-width: 480px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav h2 {
        font-size: 24px;
    }

    header hr {
        margin-bottom: 20px;
    }
}